<div class="about-page">
  <div class="page-header">
    <h1>About</h1>
    <p class="subtitle">Learn more about this application</p>
  </div>

  <div class="cards-grid">
    <div class="info-card">
      <div class="card-icon"><img src="https://i.pinimg.com/736x/9c/0c/f5/9c0cf5f0346edb54117d989ed5cec5b1.jpg" alt=""></div>
      <h3>About the App</h3>
      <p>You can view album details, edit titles, delete albums, and explore photos.</p>
    </div>

    <div class="info-card">
      <div class="card-icon"><img src="https://i.pinimg.com/736x/b7/61/c1/b761c11dace36a0431b8c668a2beb4d1.jpg" alt=""></div>
      <h3>Course Info</h3>
      <p><strong>Course:</strong> Web Development<br>
         <strong>Lab:</strong> Lab 6 <br>
         <strong>Framework:</strong> Angular </p>
    </div>

    <div class="info-card">
      <div class="card-icon"><img src="https://i.pinimg.com/736x/8d/ff/49/8dff49985d0d8afa53751d9ba8907aed.jpg" alt=""></div>
      <h3>Developer</h3>
      <p><strong>Name:</strong> Bazhikey Assel<br>
         <strong>Stack:</strong> Angular, TypeScript, C++, Python, Java</p>
    </div>

    <div class="info-card">
      <div class="card-icon"><img src="https://i.pinimg.com/736x/c3/23/31/c3233165e04fd767e8fc153a1371339a.jpg" alt=""></div>
      <h3>Features</h3>
      <p>You can search or browser pictures</p>
    </div>
  </div>
</div>
