body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: rgb(76, 76, 76);
    padding: 10px;
    text-align: left;
}
.todo{
    font-family: Arial, sans-serif;
    margin-left:60px;
}
main {
    margin: 40px auto;
    max-width: 600px; 
    padding-left: 50px;
}
.dtodo{
    text-align: left;    
    max-width: 600px;    
    padding-left: 0;
}
.list{
    font-family: Arial, sans-serif;
    font-size:35px;
    margin-right:30%;
    margin-left: 0;
    margin:0;
}
form {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 20px;
    width: 60%;
    margin-top: 20px;
    gap:10px;
    margin-left: 20px;
}

label {
    margin-right: 10px;
    font-size: 16px;
}

input[type="text"] {
    width: 450px;
    flex-grow: 1;
    font-size: 18px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
input[type="text"]::placeholder {
    color: #bbb;
}

input[type="text"]:focus {
    border-color: #66afe9;
}
.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    margin-left:55px;
    width:100%;
}
button{
    background-color: #337ab7;
    color: white;
    border: 1px solid #2e6da4;
    padding: 8px 16px; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 0%;
}

button:hover{
    background-color: #286090;
}

ul {
    list-style-type: none;
    padding: 0;
    /* margin-right: 50%; */
}

li {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-bottom: -1px;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width:100%;
    justify-content: center; 
    margin-right: 50%;
}
li span {
    margin-left: 15px;
    flex-grow: 1;
    font-size: 16px;
}
li.checked span {
    text-decoration: line-through;
    color: #6c757d;
}
li.checked {
    text-decoration: line-through;
    color: #6c757d;
}

button.delete {
    margin-left: auto;
    background: transparent;
    border: none;
    color: #dc3545;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}
button[type="submit"] {
    padding: 15px 40px;
    font-size: 18px;
    padding: 10px 25px; 
    font-size: 16px;    
    font-weight: bold;  
    border-radius: 5px; 
}

button.delete:hover {
    background-color: #c82333;
}
