*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
    /*box-sizing: border-box; — ключевое:
ширина width включает padding и border.
иначе элементы часто “вылезают” за нужную ширину.*/
}
html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
.page{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin-right: 50px;
    margin-top: 0px;
    transform: translateY(-50px);
}
.right-col{
    
}